#main_view #view_contents ul.realtime_list li span.l1,#main_view #view_contents ul.line_list_fav li span.l1,#main_view #view_contents h3 span.l1,#main_view .line_list li span.l1,#main_view .realtime_list li span.l1, #main_view #view_contents2 span.l1, span.l1{
background-color: #C4008F;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l1{
background-color: #C4008F;
color: #FFFFFF; !important
}

#stop_view #stop_list.l1  li span.stop{
background-color: #C4008F;
}

#main_view #view_contents ul.realtime_list li span.l2,#main_view #view_contents ul.line_list_fav li span.l2,#main_view #view_contents h3 span.l2,#main_view .line_list li span.l2,#main_view .realtime_list li span.l2, #main_view #view_contents2 span.l2, span.l2{
background-color: #F57000;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l2{
background-color: #F57000;
color: #FFFFFF; !important
}

#stop_view #stop_list.l2  li span.stop{
background-color: #F57000;
}

#main_view #view_contents ul.realtime_list li span.l3,#main_view #view_contents ul.line_list_fav li span.l3,#main_view #view_contents h3 span.l3,#main_view .line_list li span.l3,#main_view .realtime_list li span.l3, #main_view #view_contents2 span.l3, span.l3{
background-color: #B5BA05;
color: #000000;
}

body #main_view #view_contents h3 span.l3{
background-color: #B5BA05;
color: #000000; !important
}

#stop_view #stop_list.l3  li span.stop{
background-color: #B5BA05;
}

#main_view #view_contents ul.realtime_list li span.l4,#main_view #view_contents ul.line_list_fav li span.l4,#main_view #view_contents h3 span.l4,#main_view .line_list li span.l4,#main_view .realtime_list li span.l4, #main_view #view_contents2 span.l4, span.l4{
background-color: #F25482;
color: #000000;
}

body #main_view #view_contents h3 span.l4{
background-color: #F25482;
color: #000000; !important
}

#stop_view #stop_list.l4  li span.stop{
background-color: #F25482;
}

#main_view #view_contents ul.realtime_list li span.l5,#main_view #view_contents ul.line_list_fav li span.l5,#main_view #view_contents h3 span.l5,#main_view .line_list li span.l5,#main_view .realtime_list li span.l5, #main_view #view_contents2 span.l5, span.l5{
background-color: #E6B012;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l5{
background-color: #E6B012;
color: #FFFFFF; !important
}

#stop_view #stop_list.l5  li span.stop{
background-color: #E6B012;
}

#main_view #view_contents ul.realtime_list li span.l6,#main_view #view_contents ul.line_list_fav li span.l6,#main_view #view_contents h3 span.l6,#main_view .line_list li span.l6,#main_view .realtime_list li span.l6, #main_view #view_contents2 span.l6, span.l6{
background-color: #0078AD;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l6{
background-color: #0078AD;
color: #FFFFFF; !important
}

#stop_view #stop_list.l6  li span.stop{
background-color: #0078AD;
}

#main_view #view_contents ul.realtime_list li span.l7,#main_view #view_contents ul.line_list_fav li span.l7,#main_view #view_contents h3 span.l7,#main_view .line_list li span.l7,#main_view .realtime_list li span.l7, #main_view #view_contents2 span.l7, span.l7{
background-color: #FFF06E;
color: #000000;
}

body #main_view #view_contents h3 span.l7{
background-color: #FFF06E;
color: #000000; !important
}

#stop_view #stop_list.l7  li span.stop{
background-color: #FFF06E;
}

#main_view #view_contents ul.realtime_list li span.l12,#main_view #view_contents ul.line_list_fav li span.l12,#main_view #view_contents h3 span.l12,#main_view .line_list li span.l12,#main_view .realtime_list li span.l12, #main_view #view_contents2 span.l12, span.l12{
background-color: #338C26;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l12{
background-color: #338C26;
color: #FFFFFF; !important
}

#stop_view #stop_list.l12  li span.stop{
background-color: #338C26;
}

#main_view #view_contents ul.realtime_list li span.l13,#main_view #view_contents ul.line_list_fav li span.l13,#main_view #view_contents h3 span.l13,#main_view .line_list li span.l13,#main_view .realtime_list li span.l13, #main_view #view_contents2 span.l13, span.l13{
background-color: #9EBFE3;
color: #000000;
}

body #main_view #view_contents h3 span.l13{
background-color: #9EBFE3;
color: #000000; !important
}

#stop_view #stop_list.l13  li span.stop{
background-color: #9EBFE3;
}

#main_view #view_contents ul.realtime_list li span.l14,#main_view #view_contents ul.line_list_fav li span.l14,#main_view #view_contents h3 span.l14,#main_view .line_list li span.l14,#main_view .realtime_list li span.l14, #main_view #view_contents2 span.l14, span.l14{
background-color: #FF9EC2;
color: #000000;
}

body #main_view #view_contents h3 span.l14{
background-color: #FF9EC2;
color: #000000; !important
}

#stop_view #stop_list.l14  li span.stop{
background-color: #FF9EC2;
}

#main_view #view_contents ul.realtime_list li span.l15,#main_view #view_contents ul.line_list_fav li span.l15,#main_view #view_contents h3 span.l15,#main_view .line_list li span.l15,#main_view .realtime_list li span.l15, #main_view #view_contents2 span.l15, span.l15{
background-color: #36578C;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l15{
background-color: #36578C;
color: #FFFFFF; !important
}

#stop_view #stop_list.l15  li span.stop{
background-color: #36578C;
}

#main_view #view_contents ul.realtime_list li span.l17,#main_view #view_contents ul.line_list_fav li span.l17,#main_view #view_contents h3 span.l17,#main_view .line_list li span.l17,#main_view .realtime_list li span.l17, #main_view #view_contents2 span.l17, span.l17{
background-color: #DE3B21;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l17{
background-color: #DE3B21;
color: #FFFFFF; !important
}

#stop_view #stop_list.l17  li span.stop{
background-color: #DE3B21;
}

#main_view #view_contents ul.realtime_list li span.l19,#main_view #view_contents ul.line_list_fav li span.l19,#main_view #view_contents h3 span.l19,#main_view .line_list li span.l19,#main_view .realtime_list li span.l19, #main_view #view_contents2 span.l19, span.l19{
background-color: #DE3B21;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l19{
background-color: #DE3B21;
color: #FFFFFF; !important
}

#stop_view #stop_list.l19  li span.stop{
background-color: #DE3B21;
}

#main_view #view_contents ul.realtime_list li span.l20,#main_view #view_contents ul.line_list_fav li span.l20,#main_view #view_contents h3 span.l20,#main_view .line_list li span.l20,#main_view .realtime_list li span.l20, #main_view #view_contents2 span.l20, span.l20{
background-color: #E3BA12;
color: #000000;
}

body #main_view #view_contents h3 span.l20{
background-color: #E3BA12;
color: #000000; !important
}

#stop_view #stop_list.l20  li span.stop{
background-color: #E3BA12;
}

#main_view #view_contents ul.realtime_list li span.l21,#main_view #view_contents ul.line_list_fav li span.l21,#main_view #view_contents h3 span.l21,#main_view .line_list li span.l21,#main_view .realtime_list li span.l21, #main_view #view_contents2 span.l21, span.l21{
background-color: #F7E017;
color: #000000;
}

body #main_view #view_contents h3 span.l21{
background-color: #F7E017;
color: #000000; !important
}

#stop_view #stop_list.l21  li span.stop{
background-color: #F7E017;
}

#main_view #view_contents ul.realtime_list li span.l22,#main_view #view_contents ul.line_list_fav li span.l22,#main_view #view_contents h3 span.l22,#main_view .line_list li span.l22,#main_view .realtime_list li span.l22, #main_view #view_contents2 span.l22, span.l22{
background-color: #B5BA05;
color: #000000;
}

body #main_view #view_contents h3 span.l22{
background-color: #B5BA05;
color: #000000; !important
}

#stop_view #stop_list.l22  li span.stop{
background-color: #B5BA05;
}

#main_view #view_contents ul.realtime_list li span.l25,#main_view #view_contents ul.line_list_fav li span.l25,#main_view #view_contents h3 span.l25,#main_view .line_list li span.l25,#main_view .realtime_list li span.l25, #main_view #view_contents2 span.l25, span.l25{
background-color: #991F36;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l25{
background-color: #991F36;
color: #FFFFFF; !important
}

#stop_view #stop_list.l25  li span.stop{
background-color: #991F36;
}

#main_view #view_contents ul.realtime_list li span.l27,#main_view #view_contents ul.line_list_fav li span.l27,#main_view #view_contents h3 span.l27,#main_view .line_list li span.l27,#main_view .realtime_list li span.l27, #main_view #view_contents2 span.l27, span.l27{
background-color: #9EBFE3;
color: #000000;
}

body #main_view #view_contents h3 span.l27{
background-color: #9EBFE3;
color: #000000; !important
}

#stop_view #stop_list.l27  li span.stop{
background-color: #9EBFE3;
}

#main_view #view_contents ul.realtime_list li span.l28,#main_view #view_contents ul.line_list_fav li span.l28,#main_view #view_contents h3 span.l28,#main_view .line_list li span.l28,#main_view .realtime_list li span.l28, #main_view #view_contents2 span.l28, span.l28{
background-color: #DE3B21;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l28{
background-color: #DE3B21;
color: #FFFFFF; !important
}

#stop_view #stop_list.l28  li span.stop{
background-color: #DE3B21;
}

#main_view #view_contents ul.realtime_list li span.l29,#main_view #view_contents ul.line_list_fav li span.l29,#main_view #view_contents h3 span.l29,#main_view .line_list li span.l29,#main_view .realtime_list li span.l29, #main_view #view_contents2 span.l29, span.l29{
background-color: #E87D0D;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l29{
background-color: #E87D0D;
color: #FFFFFF; !important
}

#stop_view #stop_list.l29  li span.stop{
background-color: #E87D0D;
}

#main_view #view_contents ul.realtime_list li span.l32,#main_view #view_contents ul.line_list_fav li span.l32,#main_view #view_contents h3 span.l32,#main_view .line_list li span.l32,#main_view .realtime_list li span.l32, #main_view #view_contents2 span.l32, span.l32{
background-color: #F7E017;
color: #000000;
}

body #main_view #view_contents h3 span.l32{
background-color: #F7E017;
color: #000000; !important
}

#stop_view #stop_list.l32  li span.stop{
background-color: #F7E017;
}

#main_view #view_contents ul.realtime_list li span.l33,#main_view #view_contents ul.line_list_fav li span.l33,#main_view #view_contents h3 span.l33,#main_view .line_list li span.l33,#main_view .realtime_list li span.l33, #main_view #view_contents2 span.l33, span.l33{
background-color: #FF9EC2;
color: #000000;
}

body #main_view #view_contents h3 span.l33{
background-color: #FF9EC2;
color: #000000; !important
}

#stop_view #stop_list.l33  li span.stop{
background-color: #FF9EC2;
}

#main_view #view_contents ul.realtime_list li span.l34,#main_view #view_contents ul.line_list_fav li span.l34,#main_view #view_contents h3 span.l34,#main_view .line_list li span.l34,#main_view .realtime_list li span.l34, #main_view #view_contents2 span.l34, span.l34{
background-color: #E3BA12;
color: #000000;
}

body #main_view #view_contents h3 span.l34{
background-color: #E3BA12;
color: #000000; !important
}

#stop_view #stop_list.l34  li span.stop{
background-color: #E3BA12;
}

#main_view #view_contents ul.realtime_list li span.l36,#main_view #view_contents ul.line_list_fav li span.l36,#main_view #view_contents h3 span.l36,#main_view .line_list li span.l36,#main_view .realtime_list li span.l36, #main_view #view_contents2 span.l36, span.l36{
background-color: #9EBFE3;
color: #000000;
}

body #main_view #view_contents h3 span.l36{
background-color: #9EBFE3;
color: #000000; !important
}

#stop_view #stop_list.l36  li span.stop{
background-color: #9EBFE3;
}

#main_view #view_contents ul.realtime_list li span.l38,#main_view #view_contents ul.line_list_fav li span.l38,#main_view #view_contents h3 span.l38,#main_view .line_list li span.l38,#main_view .realtime_list li span.l38, #main_view #view_contents2 span.l38, span.l38{
background-color: #B085B3;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l38{
background-color: #B085B3;
color: #FFFFFF; !important
}

#stop_view #stop_list.l38  li span.stop{
background-color: #B085B3;
}

#main_view #view_contents ul.realtime_list li span.l39,#main_view #view_contents ul.line_list_fav li span.l39,#main_view #view_contents h3 span.l39,#main_view .line_list li span.l39,#main_view .realtime_list li span.l39, #main_view #view_contents2 span.l39, span.l39{
background-color: #DE3B21;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l39{
background-color: #DE3B21;
color: #FFFFFF; !important
}

#stop_view #stop_list.l39  li span.stop{
background-color: #DE3B21;
}

#main_view #view_contents ul.realtime_list li span.l40,#main_view #view_contents ul.line_list_fav li span.l40,#main_view #view_contents h3 span.l40,#main_view .line_list li span.l40,#main_view .realtime_list li span.l40, #main_view #view_contents2 span.l40, span.l40{
background-color: #DE3B21;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l40{
background-color: #DE3B21;
color: #FFFFFF; !important
}

#stop_view #stop_list.l40  li span.stop{
background-color: #DE3B21;
}

#main_view #view_contents ul.realtime_list li span.l41,#main_view #view_contents ul.line_list_fav li span.l41,#main_view #view_contents h3 span.l41,#main_view .line_list li span.l41,#main_view .realtime_list li span.l41, #main_view #view_contents2 span.l41, span.l41{
background-color: #9EBFE3;
color: #000000;
}

body #main_view #view_contents h3 span.l41{
background-color: #9EBFE3;
color: #000000; !important
}

#stop_view #stop_list.l41  li span.stop{
background-color: #9EBFE3;
}

#main_view #view_contents ul.realtime_list li span.l42,#main_view #view_contents ul.line_list_fav li span.l42,#main_view #view_contents h3 span.l42,#main_view .line_list li span.l42,#main_view .realtime_list li span.l42, #main_view #view_contents2 span.l42, span.l42{
background-color: #338C26;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l42{
background-color: #338C26;
color: #FFFFFF; !important
}

#stop_view #stop_list.l42  li span.stop{
background-color: #338C26;
}

#main_view #view_contents ul.realtime_list li span.l43,#main_view #view_contents ul.line_list_fav li span.l43,#main_view #view_contents h3 span.l43,#main_view .line_list li span.l43,#main_view .realtime_list li span.l43, #main_view #view_contents2 span.l43, span.l43{
background-color: #996308;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l43{
background-color: #996308;
color: #FFFFFF; !important
}

#stop_view #stop_list.l43  li span.stop{
background-color: #996308;
}

#main_view #view_contents ul.realtime_list li span.l44,#main_view #view_contents ul.line_list_fav li span.l44,#main_view #view_contents h3 span.l44,#main_view .line_list li span.l44,#main_view .realtime_list li span.l44, #main_view #view_contents2 span.l44, span.l44{
background-color: #E3BA12;
color: #000000;
}

body #main_view #view_contents h3 span.l44{
background-color: #E3BA12;
color: #000000; !important
}

#stop_view #stop_list.l44  li span.stop{
background-color: #E3BA12;
}

#main_view #view_contents ul.realtime_list li span.l45,#main_view #view_contents ul.line_list_fav li span.l45,#main_view #view_contents h3 span.l45,#main_view .line_list li span.l45,#main_view .realtime_list li span.l45, #main_view #view_contents2 span.l45, span.l45{
background-color: #B085B3;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l45{
background-color: #B085B3;
color: #FFFFFF; !important
}

#stop_view #stop_list.l45  li span.stop{
background-color: #B085B3;
}

#main_view #view_contents ul.realtime_list li span.l46,#main_view #view_contents ul.line_list_fav li span.l46,#main_view #view_contents h3 span.l46,#main_view .line_list li span.l46,#main_view .realtime_list li span.l46, #main_view #view_contents2 span.l46, span.l46{
background-color: #DE3B21;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l46{
background-color: #DE3B21;
color: #FFFFFF; !important
}

#stop_view #stop_list.l46  li span.stop{
background-color: #DE3B21;
}

#main_view #view_contents ul.realtime_list li span.l47,#main_view #view_contents ul.line_list_fav li span.l47,#main_view #view_contents h3 span.l47,#main_view .line_list li span.l47,#main_view .realtime_list li span.l47, #main_view #view_contents2 span.l47, span.l47{
background-color: #B085B3;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l47{
background-color: #B085B3;
color: #FFFFFF; !important
}

#stop_view #stop_list.l47  li span.stop{
background-color: #B085B3;
}

#main_view #view_contents ul.realtime_list li span.l48,#main_view #view_contents ul.line_list_fav li span.l48,#main_view #view_contents h3 span.l48,#main_view .line_list li span.l48,#main_view .realtime_list li span.l48, #main_view #view_contents2 span.l48, span.l48{
background-color: #338C26;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l48{
background-color: #338C26;
color: #FFFFFF; !important
}

#stop_view #stop_list.l48  li span.stop{
background-color: #338C26;
}

#main_view #view_contents ul.realtime_list li span.l49,#main_view #view_contents ul.line_list_fav li span.l49,#main_view #view_contents h3 span.l49,#main_view .line_list li span.l49,#main_view .realtime_list li span.l49, #main_view #view_contents2 span.l49, span.l49{
background-color: #36578C;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l49{
background-color: #36578C;
color: #FFFFFF; !important
}

#stop_view #stop_list.l49  li span.stop{
background-color: #36578C;
}

#main_view #view_contents ul.realtime_list li span.l50,#main_view #view_contents ul.line_list_fav li span.l50,#main_view #view_contents h3 span.l50,#main_view .line_list li span.l50,#main_view .realtime_list li span.l50, #main_view #view_contents2 span.l50, span.l50{
background-color: #B5BA05;
color: #000000;
}

body #main_view #view_contents h3 span.l50{
background-color: #B5BA05;
color: #000000; !important
}

#stop_view #stop_list.l50  li span.stop{
background-color: #B5BA05;
}

#main_view #view_contents ul.realtime_list li span.l51,#main_view #view_contents ul.line_list_fav li span.l51,#main_view #view_contents h3 span.l51,#main_view .line_list li span.l51,#main_view .realtime_list li span.l51, #main_view #view_contents2 span.l51, span.l51{
background-color: #E3BA12;
color: #000000;
}

body #main_view #view_contents h3 span.l51{
background-color: #E3BA12;
color: #000000; !important
}

#stop_view #stop_list.l51  li span.stop{
background-color: #E3BA12;
}

#main_view #view_contents ul.realtime_list li span.l53,#main_view #view_contents ul.line_list_fav li span.l53,#main_view #view_contents h3 span.l53,#main_view .line_list li span.l53,#main_view .realtime_list li span.l53, #main_view #view_contents2 span.l53, span.l53{
background-color: #338C26;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l53{
background-color: #338C26;
color: #FFFFFF; !important
}

#stop_view #stop_list.l53  li span.stop{
background-color: #338C26;
}

#main_view #view_contents ul.realtime_list li span.l54,#main_view #view_contents ul.line_list_fav li span.l54,#main_view #view_contents h3 span.l54,#main_view .line_list li span.l54,#main_view .realtime_list li span.l54, #main_view #view_contents2 span.l54, span.l54{
background-color: #DE3B21;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l54{
background-color: #DE3B21;
color: #FFFFFF; !important
}

#stop_view #stop_list.l54  li span.stop{
background-color: #DE3B21;
}

#main_view #view_contents ul.realtime_list li span.l55,#main_view #view_contents ul.line_list_fav li span.l55,#main_view #view_contents h3 span.l55,#main_view .line_list li span.l55,#main_view .realtime_list li span.l55, #main_view #view_contents2 span.l55, span.l55{
background-color: #E3BA12;
color: #000000;
}

body #main_view #view_contents h3 span.l55{
background-color: #E3BA12;
color: #000000; !important
}

#stop_view #stop_list.l55  li span.stop{
background-color: #E3BA12;
}

#main_view #view_contents ul.realtime_list li span.l57,#main_view #view_contents ul.line_list_fav li span.l57,#main_view #view_contents h3 span.l57,#main_view .line_list li span.l57,#main_view .realtime_list li span.l57, #main_view #view_contents2 span.l57, span.l57{
background-color: #DE3B21;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l57{
background-color: #DE3B21;
color: #FFFFFF; !important
}

#stop_view #stop_list.l57  li span.stop{
background-color: #DE3B21;
}

#main_view #view_contents ul.realtime_list li span.l58,#main_view #view_contents ul.line_list_fav li span.l58,#main_view #view_contents h3 span.l58,#main_view .line_list li span.l58,#main_view .realtime_list li span.l58, #main_view #view_contents2 span.l58, span.l58{
background-color: #338C26;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l58{
background-color: #338C26;
color: #FFFFFF; !important
}

#stop_view #stop_list.l58  li span.stop{
background-color: #338C26;
}

#main_view #view_contents ul.realtime_list li span.l59,#main_view #view_contents ul.line_list_fav li span.l59,#main_view #view_contents h3 span.l59,#main_view .line_list li span.l59,#main_view .realtime_list li span.l59, #main_view #view_contents2 span.l59, span.l59{
background-color: #996308;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l59{
background-color: #996308;
color: #FFFFFF; !important
}

#stop_view #stop_list.l59  li span.stop{
background-color: #996308;
}

#main_view #view_contents ul.realtime_list li span.l60,#main_view #view_contents ul.line_list_fav li span.l60,#main_view #view_contents h3 span.l60,#main_view .line_list li span.l60,#main_view .realtime_list li span.l60, #main_view #view_contents2 span.l60, span.l60{
background-color: #FF9EC2;
color: #000000;
}

body #main_view #view_contents h3 span.l60{
background-color: #FF9EC2;
color: #000000; !important
}

#stop_view #stop_list.l60  li span.stop{
background-color: #FF9EC2;
}

#main_view #view_contents ul.realtime_list li span.l61,#main_view #view_contents ul.line_list_fav li span.l61,#main_view #view_contents h3 span.l61,#main_view .line_list li span.l61,#main_view .realtime_list li span.l61, #main_view #view_contents2 span.l61, span.l61{
background-color: #F7E017;
color: #000000;
}

body #main_view #view_contents h3 span.l61{
background-color: #F7E017;
color: #000000; !important
}

#stop_view #stop_list.l61  li span.stop{
background-color: #F7E017;
}

#main_view #view_contents ul.realtime_list li span.l62,#main_view #view_contents ul.line_list_fav li span.l62,#main_view #view_contents h3 span.l62,#main_view .line_list li span.l62,#main_view .realtime_list li span.l62, #main_view #view_contents2 span.l62, span.l62{
background-color: #FF9EC2;
color: #000000;
}

body #main_view #view_contents h3 span.l62{
background-color: #FF9EC2;
color: #000000; !important
}

#stop_view #stop_list.l62  li span.stop{
background-color: #FF9EC2;
}

#main_view #view_contents ul.realtime_list li span.l63,#main_view #view_contents ul.line_list_fav li span.l63,#main_view #view_contents h3 span.l63,#main_view .line_list li span.l63,#main_view .realtime_list li span.l63, #main_view #view_contents2 span.l63, span.l63{
background-color: #9EBFE3;
color: #000000;
}

body #main_view #view_contents h3 span.l63{
background-color: #9EBFE3;
color: #000000; !important
}

#stop_view #stop_list.l63  li span.stop{
background-color: #9EBFE3;
}

#main_view #view_contents ul.realtime_list li span.l64,#main_view #view_contents ul.line_list_fav li span.l64,#main_view #view_contents h3 span.l64,#main_view .line_list li span.l64,#main_view .realtime_list li span.l64, #main_view #view_contents2 span.l64, span.l64{
background-color: #DE3B21;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l64{
background-color: #DE3B21;
color: #FFFFFF; !important
}

#stop_view #stop_list.l64  li span.stop{
background-color: #DE3B21;
}

#main_view #view_contents ul.realtime_list li span.l65,#main_view #view_contents ul.line_list_fav li span.l65,#main_view #view_contents h3 span.l65,#main_view .line_list li span.l65,#main_view .realtime_list li span.l65, #main_view #view_contents2 span.l65, span.l65{
background-color: #E3BA12;
color: #000000;
}

body #main_view #view_contents h3 span.l65{
background-color: #E3BA12;
color: #000000; !important
}

#stop_view #stop_list.l65  li span.stop{
background-color: #E3BA12;
}

#main_view #view_contents ul.realtime_list li span.l66,#main_view #view_contents ul.line_list_fav li span.l66,#main_view #view_contents h3 span.l66,#main_view .line_list li span.l66,#main_view .realtime_list li span.l66, #main_view #view_contents2 span.l66, span.l66{
background-color: #36578C;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l66{
background-color: #36578C;
color: #FFFFFF; !important
}

#stop_view #stop_list.l66  li span.stop{
background-color: #36578C;
}

#main_view #view_contents ul.realtime_list li span.l69,#main_view #view_contents ul.line_list_fav li span.l69,#main_view #view_contents h3 span.l69,#main_view .line_list li span.l69,#main_view .realtime_list li span.l69, #main_view #view_contents2 span.l69, span.l69{
background-color: #E87D0D;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l69{
background-color: #E87D0D;
color: #FFFFFF; !important
}

#stop_view #stop_list.l69  li span.stop{
background-color: #E87D0D;
}

#main_view #view_contents ul.realtime_list li span.l70,#main_view #view_contents ul.line_list_fav li span.l70,#main_view #view_contents h3 span.l70,#main_view .line_list li span.l70,#main_view .realtime_list li span.l70, #main_view #view_contents2 span.l70, span.l70{
background-color: #B5BA05;
color: #000000;
}

body #main_view #view_contents h3 span.l70{
background-color: #B5BA05;
color: #000000; !important
}

#stop_view #stop_list.l70  li span.stop{
background-color: #B5BA05;
}

#main_view #view_contents ul.realtime_list li span.l71,#main_view #view_contents ul.line_list_fav li span.l71,#main_view #view_contents h3 span.l71,#main_view .line_list li span.l71,#main_view .realtime_list li span.l71, #main_view #view_contents2 span.l71, span.l71{
background-color: #338C26;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l71{
background-color: #338C26;
color: #FFFFFF; !important
}

#stop_view #stop_list.l71  li span.stop{
background-color: #338C26;
}

#main_view #view_contents ul.realtime_list li span.l72,#main_view #view_contents ul.line_list_fav li span.l72,#main_view #view_contents h3 span.l72,#main_view .line_list li span.l72,#main_view .realtime_list li span.l72, #main_view #view_contents2 span.l72, span.l72{
background-color: #FF9EC2;
color: #000000;
}

body #main_view #view_contents h3 span.l72{
background-color: #FF9EC2;
color: #000000; !important
}

#stop_view #stop_list.l72  li span.stop{
background-color: #FF9EC2;
}

#main_view #view_contents ul.realtime_list li span.l75,#main_view #view_contents ul.line_list_fav li span.l75,#main_view #view_contents h3 span.l75,#main_view .line_list li span.l75,#main_view .realtime_list li span.l75, #main_view #view_contents2 span.l75, span.l75{
background-color: #F7E017;
color: #000000;
}

body #main_view #view_contents h3 span.l75{
background-color: #F7E017;
color: #000000; !important
}

#stop_view #stop_list.l75  li span.stop{
background-color: #F7E017;
}

#main_view #view_contents ul.realtime_list li span.l76,#main_view #view_contents ul.line_list_fav li span.l76,#main_view #view_contents h3 span.l76,#main_view .line_list li span.l76,#main_view .realtime_list li span.l76, #main_view #view_contents2 span.l76, span.l76{
background-color: #F7E017;
color: #000000;
}

body #main_view #view_contents h3 span.l76{
background-color: #F7E017;
color: #000000; !important
}

#stop_view #stop_list.l76  li span.stop{
background-color: #F7E017;
}

#main_view #view_contents ul.realtime_list li span.l77,#main_view #view_contents ul.line_list_fav li span.l77,#main_view #view_contents h3 span.l77,#main_view .line_list li span.l77,#main_view .realtime_list li span.l77, #main_view #view_contents2 span.l77, span.l77{
background-color: #338C26;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l77{
background-color: #338C26;
color: #FFFFFF; !important
}

#stop_view #stop_list.l77  li span.stop{
background-color: #338C26;
}

#main_view #view_contents ul.realtime_list li span.l78,#main_view #view_contents ul.line_list_fav li span.l78,#main_view #view_contents h3 span.l78,#main_view .line_list li span.l78,#main_view .realtime_list li span.l78, #main_view #view_contents2 span.l78, span.l78{
background-color: #B085B3;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l78{
background-color: #B085B3;
color: #FFFFFF; !important
}

#stop_view #stop_list.l78  li span.stop{
background-color: #B085B3;
}

#main_view #view_contents ul.realtime_list li span.l79,#main_view #view_contents ul.line_list_fav li span.l79,#main_view #view_contents h3 span.l79,#main_view .line_list li span.l79,#main_view .realtime_list li span.l79, #main_view #view_contents2 span.l79, span.l79{
background-color: #36578C;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l79{
background-color: #36578C;
color: #FFFFFF; !important
}

#stop_view #stop_list.l79  li span.stop{
background-color: #36578C;
}

#main_view #view_contents ul.realtime_list li span.l80,#main_view #view_contents ul.line_list_fav li span.l80,#main_view #view_contents h3 span.l80,#main_view .line_list li span.l80,#main_view .realtime_list li span.l80, #main_view #view_contents2 span.l80, span.l80{
background-color: #338C26;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l80{
background-color: #338C26;
color: #FFFFFF; !important
}

#stop_view #stop_list.l80  li span.stop{
background-color: #338C26;
}

#main_view #view_contents ul.realtime_list li span.l81,#main_view #view_contents ul.line_list_fav li span.l81,#main_view #view_contents h3 span.l81,#main_view .line_list li span.l81,#main_view .realtime_list li span.l81, #main_view #view_contents2 span.l81, span.l81{
background-color: #338C26;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l81{
background-color: #338C26;
color: #FFFFFF; !important
}

#stop_view #stop_list.l81  li span.stop{
background-color: #338C26;
}

#main_view #view_contents ul.realtime_list li span.l82,#main_view #view_contents ul.line_list_fav li span.l82,#main_view #view_contents h3 span.l82,#main_view .line_list li span.l82,#main_view .realtime_list li span.l82, #main_view #view_contents2 span.l82, span.l82{
background-color: #9EBFE3;
color: #000000;
}

body #main_view #view_contents h3 span.l82{
background-color: #9EBFE3;
color: #000000; !important
}

#stop_view #stop_list.l82  li span.stop{
background-color: #9EBFE3;
}

#main_view #view_contents ul.realtime_list li span.l84,#main_view #view_contents ul.line_list_fav li span.l84,#main_view #view_contents h3 span.l84,#main_view .line_list li span.l84,#main_view .realtime_list li span.l84, #main_view #view_contents2 span.l84, span.l84{
background-color: #F7E017;
color: #000000;
}

body #main_view #view_contents h3 span.l84{
background-color: #F7E017;
color: #000000; !important
}

#stop_view #stop_list.l84  li span.stop{
background-color: #F7E017;
}

#main_view #view_contents ul.realtime_list li span.l86,#main_view #view_contents ul.line_list_fav li span.l86,#main_view #view_contents h3 span.l86,#main_view .line_list li span.l86,#main_view .realtime_list li span.l86, #main_view #view_contents2 span.l86, span.l86{
background-color: #338C26;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l86{
background-color: #338C26;
color: #FFFFFF; !important
}

#stop_view #stop_list.l86  li span.stop{
background-color: #338C26;
}

#main_view #view_contents ul.realtime_list li span.l87,#main_view #view_contents ul.line_list_fav li span.l87,#main_view #view_contents h3 span.l87,#main_view .line_list li span.l87,#main_view .realtime_list li span.l87, #main_view #view_contents2 span.l87, span.l87{
background-color: #338C26;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l87{
background-color: #338C26;
color: #FFFFFF; !important
}

#stop_view #stop_list.l87  li span.stop{
background-color: #338C26;
}

#main_view #view_contents ul.realtime_list li span.l88,#main_view #view_contents ul.line_list_fav li span.l88,#main_view #view_contents h3 span.l88,#main_view .line_list li span.l88,#main_view .realtime_list li span.l88, #main_view #view_contents2 span.l88, span.l88{
background-color: #991F36;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l88{
background-color: #991F36;
color: #FFFFFF; !important
}

#stop_view #stop_list.l88  li span.stop{
background-color: #991F36;
}

#main_view #view_contents ul.realtime_list li span.l89,#main_view #view_contents ul.line_list_fav li span.l89,#main_view #view_contents h3 span.l89,#main_view .line_list li span.l89,#main_view .realtime_list li span.l89, #main_view #view_contents2 span.l89, span.l89{
background-color: #E87D0D;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l89{
background-color: #E87D0D;
color: #FFFFFF; !important
}

#stop_view #stop_list.l89  li span.stop{
background-color: #E87D0D;
}

#main_view #view_contents ul.realtime_list li span.l92,#main_view #view_contents ul.line_list_fav li span.l92,#main_view #view_contents h3 span.l92,#main_view .line_list li span.l92,#main_view .realtime_list li span.l92, #main_view #view_contents2 span.l92, span.l92{
background-color: #DE3B21;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l92{
background-color: #DE3B21;
color: #FFFFFF; !important
}

#stop_view #stop_list.l92  li span.stop{
background-color: #DE3B21;
}

#main_view #view_contents ul.realtime_list li span.l93,#main_view #view_contents ul.line_list_fav li span.l93,#main_view #view_contents h3 span.l93,#main_view .line_list li span.l93,#main_view .realtime_list li span.l93, #main_view #view_contents2 span.l93, span.l93{
background-color: #E87D0D;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l93{
background-color: #E87D0D;
color: #FFFFFF; !important
}

#stop_view #stop_list.l93  li span.stop{
background-color: #E87D0D;
}

#main_view #view_contents ul.realtime_list li span.l94,#main_view #view_contents ul.line_list_fav li span.l94,#main_view #view_contents h3 span.l94,#main_view .line_list li span.l94,#main_view .realtime_list li span.l94, #main_view #view_contents2 span.l94, span.l94{
background-color: #F7E017;
color: #000000;
}

body #main_view #view_contents h3 span.l94{
background-color: #F7E017;
color: #000000; !important
}

#stop_view #stop_list.l94  li span.stop{
background-color: #F7E017;
}

#main_view #view_contents ul.realtime_list li span.l95,#main_view #view_contents ul.line_list_fav li span.l95,#main_view #view_contents h3 span.l95,#main_view .line_list li span.l95,#main_view .realtime_list li span.l95, #main_view #view_contents2 span.l95, span.l95{
background-color: #36578C;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l95{
background-color: #36578C;
color: #FFFFFF; !important
}

#stop_view #stop_list.l95  li span.stop{
background-color: #36578C;
}

#main_view #view_contents ul.realtime_list li span.l97,#main_view #view_contents ul.line_list_fav li span.l97,#main_view #view_contents h3 span.l97,#main_view .line_list li span.l97,#main_view .realtime_list li span.l97, #main_view #view_contents2 span.l97, span.l97{
background-color: #991F36;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l97{
background-color: #991F36;
color: #FFFFFF; !important
}

#stop_view #stop_list.l97  li span.stop{
background-color: #991F36;
}

#main_view #view_contents ul.realtime_list li span.l98,#main_view #view_contents ul.line_list_fav li span.l98,#main_view #view_contents h3 span.l98,#main_view .line_list li span.l98,#main_view .realtime_list li span.l98, #main_view #view_contents2 span.l98, span.l98{
background-color: #FC8306;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l98{
background-color: #FC8306;
color: #FFFFFF; !important
}

#stop_view #stop_list.l98  li span.stop{
background-color: #FC8306;
}

#main_view #view_contents ul.realtime_list li span.l204,#main_view #view_contents ul.line_list_fav li span.l204,#main_view #view_contents h3 span.l204,#main_view .line_list li span.l204,#main_view .realtime_list li span.l204, #main_view #view_contents2 span.l204, span.l204{
background-color: #FF00FF;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l204{
background-color: #FF00FF;
color: #FFFFFF; !important
}

#stop_view #stop_list.l204  li span.stop{
background-color: #FF00FF;
}

#main_view #view_contents ul.realtime_list li span.l205,#main_view #view_contents ul.line_list_fav li span.l205,#main_view #view_contents h3 span.l205,#main_view .line_list li span.l205,#main_view .realtime_list li span.l205, #main_view #view_contents2 span.l205, span.l205{
background-color: #9978B8;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l205{
background-color: #9978B8;
color: #FFFFFF; !important
}

#stop_view #stop_list.l205  li span.stop{
background-color: #9978B8;
}

#main_view #view_contents ul.realtime_list li span.l206,#main_view #view_contents ul.line_list_fav li span.l206,#main_view #view_contents h3 span.l206,#main_view .line_list li span.l206,#main_view .realtime_list li span.l206, #main_view #view_contents2 span.l206, span.l206{
background-color: #00C8FF;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l206{
background-color: #00C8FF;
color: #FFFFFF; !important
}

#stop_view #stop_list.l206  li span.stop{
background-color: #00C8FF;
}

#main_view #view_contents ul.realtime_list li span.l208,#main_view #view_contents ul.line_list_fav li span.l208,#main_view #view_contents h3 span.l208,#main_view .line_list li span.l208,#main_view .realtime_list li span.l208, #main_view #view_contents2 span.l208, span.l208{
background-color: #94C9FD;
color: #000000;
}

body #main_view #view_contents h3 span.l208{
background-color: #94C9FD;
color: #000000; !important
}

#stop_view #stop_list.l208  li span.stop{
background-color: #94C9FD;
}

#main_view #view_contents ul.realtime_list li span.l209,#main_view #view_contents ul.line_list_fav li span.l209,#main_view #view_contents h3 span.l209,#main_view .line_list li span.l209,#main_view .realtime_list li span.l209, #main_view #view_contents2 span.l209, span.l209{
background-color: #FF00FF;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l209{
background-color: #FF00FF;
color: #FFFFFF; !important
}

#stop_view #stop_list.l209  li span.stop{
background-color: #FF00FF;
}

#main_view #view_contents ul.realtime_list li span.l210,#main_view #view_contents ul.line_list_fav li span.l210,#main_view #view_contents h3 span.l210,#main_view .line_list li span.l210,#main_view .realtime_list li span.l210, #main_view #view_contents2 span.l210, span.l210{
background-color: #D2FF0A;
color: #000000;
}

body #main_view #view_contents h3 span.l210{
background-color: #D2FF0A;
color: #000000; !important
}

#stop_view #stop_list.l210  li span.stop{
background-color: #D2FF0A;
}

#main_view #view_contents ul.realtime_list li span.l211,#main_view #view_contents ul.line_list_fav li span.l211,#main_view #view_contents h3 span.l211,#main_view .line_list li span.l211,#main_view .realtime_list li span.l211, #main_view #view_contents2 span.l211, span.l211{
background-color: #976A0E;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l211{
background-color: #976A0E;
color: #FFFFFF; !important
}

#stop_view #stop_list.l211  li span.stop{
background-color: #976A0E;
}

#main_view #view_contents ul.realtime_list li span.l212,#main_view #view_contents ul.line_list_fav li span.l212,#main_view #view_contents h3 span.l212,#main_view .line_list li span.l212,#main_view .realtime_list li span.l212, #main_view #view_contents2 span.l212, span.l212{
background-color: #FC8306;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l212{
background-color: #FC8306;
color: #FFFFFF; !important
}

#stop_view #stop_list.l212  li span.stop{
background-color: #FC8306;
}

#main_view #view_contents ul.realtime_list li span.l213,#main_view #view_contents ul.line_list_fav li span.l213,#main_view #view_contents h3 span.l213,#main_view .line_list li span.l213,#main_view .realtime_list li span.l213, #main_view #view_contents2 span.l213, span.l213{
background-color: #C30C3E;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l213{
background-color: #C30C3E;
color: #FFFFFF; !important
}

#stop_view #stop_list.l213  li span.stop{
background-color: #C30C3E;
}

#main_view #view_contents ul.realtime_list li span.l216,#main_view #view_contents ul.line_list_fav li span.l216,#main_view #view_contents h3 span.l216,#main_view .line_list li span.l216,#main_view .realtime_list li span.l216, #main_view #view_contents2 span.l216, span.l216{
background-color: #0A3C0A;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l216{
background-color: #0A3C0A;
color: #FFFFFF; !important
}

#stop_view #stop_list.l216  li span.stop{
background-color: #0A3C0A;
}

#main_view #view_contents ul.realtime_list li span.l218,#main_view #view_contents ul.line_list_fav li span.l218,#main_view #view_contents h3 span.l218,#main_view .line_list li span.l218,#main_view .realtime_list li span.l218, #main_view #view_contents2 span.l218, span.l218{
background-color: #64D214;
color: #FFFFFF;
}

body #main_view #view_contents h3 span.l218{
background-color: #64D214;
color: #FFFFFF; !important
}

#stop_view #stop_list.l218  li span.stop{
background-color: #64D214;
}
