<!DOCTYPE html>

{% block extrahead %}<meta http-equiv="refresh" content="10">{% endblock %}

<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Transport</title>

        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="http://m.stib.be/css/lines.php">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron">
    </head>

    <body class="black">
        <div class="full-box">
            <div class="col-md-4">
                <div class="panel panel-default third">
                    <div class="panel-heading green2">
                        <div class="panel-title pull-left"><p class="arret">ULB</p></div>
                        <div class="panel-title pull-right"><p>({{walk["ULB1"][2]}} min.)</p></div>
                        <div class="clearfix"></div>
                    </div>
                    <table class="table green">
                        {% for elem in info["ULB2"]%}
                        <tr>
                            <td class="col-md-1"><span class="l{{elem[0]}} m6-lineCube ieLine">{{elem[0]}}</span></td>
                            <td class="col-md-10"><p class="inside">{{elem[1]}}</p></td>
                            <td class="col-md-3"><p {% if elem[2] | int <= 4 %} class="inside number run" {% else %} class="inside number" {% endif %}>
                                {% if elem[2] | int == 0 %}
                                    <span class="glyphicon glyphicon-fire"></span>
                                {% elif elem[2] | int == -1 %}
                                    <span class="fa fa-user-secret"></span>
                                {% else %}
                                    {{elem[2]}}
                                {% endif %}
                            </p></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <p id="hacker-clock" class="clock green"></p>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default third">
                    <div class="panel-heading green2">
                        <div class="panel-title pull-left"><p class="arret">ULB</p></div>
                        <div class="panel-title pull-right"><P>({{walk["ULB1"][2]}} min.)</p></div>
                        <div class="clearfix"></div>
                    </div>
                    <table class="table green">
                        {% for elem in info["ULB1"] %}
                        <tr>
                            <td class="col-md-1"><span class="l{{elem[0]}} m6-lineCube ieLine">{{elem[0]}}</span></td>
                            <td class="col-md-10"><p class="inside">{{elem[1]}}</p></td>
                            <td class="col-md-3"><p {% if elem[2] | int <= 4 %} class="inside number run" {% else %} class="inside number" {% endif %}>
                                {% if elem[2] | int == 0 %}
                                    <span class="glyphicon glyphicon-fire"></span>
                                {% else %}
                                    {{elem[2]}}
                                {% endif %}
                            </p></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <p class="green" align="center">Last updated</p>
                <p id="last-updated" class="green" align="center">0 seconds ago.</p>
            </div>
            <div class="col-md-4">
                {% for halt in info %}
                {% if halt != "ULB1" and halt != "ULB2" and halt != "DELTA" %}
                <div class="row-md-6">
                    <div class="panel panel-default third">
                        <div class="panel-heading green2">
                            <div class="panel-title pull-left"><p class="arret">{{halt}}</p></div>
                            <div class="panel-title pull-right"><p>({{walk[halt][2]}} min.)</p></div>
                            <div class="clearfix"></div>
                        </div>
                        <table class="table green">
                            {% for elem in info[halt] %}
                            <tr>
                                <td class="col-md-1"><span class="l{{elem[0]}} m6-lineCube ieLine">{{elem[0]}}</span></td>
                                <td class="col-md-10"><p class="inside">{{elem[1]}}</p></td>
                                <td class="col-md-3"><p {% if elem[2] | int <= 4 %} class="inside number run" {% else %} class="inside number" {% endif %}>
                                    {% if elem[2] | int == 0 %}
                                        <span class="glyphicon glyphicon-fire"></span>
                                    {% else %}
                                        {{elem[2]}}
                                    {% endif %}
                                </p></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script>
        function clock() {
            var time = new Date(),

            hours = time.getHours(),
            minutes = time.getMinutes(),
            seconds = time.getSeconds();
            milliseconds = time.getMilliseconds();

            document.getElementById('hacker-clock').innerHTML = doubledigitfmt(hours) + ":" + doubledigitfmt(minutes) + ":" + doubledigitfmt(seconds);

            function tripledigitfmt(standIn) {
                if (standIn < 10) {return '00' + standIn}
                if (standIn < 100) {return '0' + standIn}
                return standIn
            }

            function doubledigitfmt(standIn) {
                if (standIn < 10) {standIn = '0' + standIn}
                return standIn;
            }
        }
        setInterval(clock, 10);

        function updated_delta(){
            var update_time = new Date('{{last_updated | safe}}')
            var current_time = new Date()
            var timeDiff = current_time.getTime() - update_time.getTime()
            var delta = Math.ceil(timeDiff / 1000);

            document.getElementById('last-updated').innerHTML = delta + " seconds ago."
        }
        setInterval(updated_delta, 50)

        </script>
    </body>
</html>
